body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #AFC9E8;
  color: #3A6B02;
  line-height: 1.6;
}



header {
    background-color: #3d7b80;
    color: #ffffff;
    max-width: 10000px;
    text-align: center;
    padding: 0.5px;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.destinos /*acomoda todo dentro del recuadro*/ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.destino {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(58,107,2,0.15);
  padding: 20px;
  width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destino:hover /*hace q cada marco flote al pasar el mouse*/ {
  transform: translateY(-8px);/*mueve hacia arriba el marco de 8 pixeles*/
  box-shadow: 0 12px 25px rgba(58,107,2,0.3); /*crea una sombra cuando el recuadro se eleva*/
}

.imagen {
  height: 160px;
  background-color: #3D7B80;
  border-radius: 8px;
  margin-bottom: 15px;
}

.texto {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: #3A6B02;
}

.ubicacion {
  font-size: 1;
  color: #3D7B80;
  line-height: 1.4;
}

.descripcion {
  font-size: 0.95rem;
  color: #000000;
  line-height: 1.4;
}

footer {
  text-align: center;
  padding: 20px 10px;
  background-color: #3A6B02;
  color: #F0F4F8;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
  margin-top: 40px;
}
